rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      function authed() {
      	return request.auth != null
      }
      
      function matchesUser(data) {
      	return request.auth.uid == data.userId
      }
      
      function notUpdating(field) {
      	return !(field in request.resource.data) || resource.data[field] == request.resource.data[field]
      }
      
      allow read: if authed() && matchesUser(resource.data)
      allow create: if authed() && matchesUser(request.resource.data)
      allow update: if authed() && matchesUser(resource.data) && notUpdating('userId')
    }
  }
}